<%- layout('layout.ejs') %>

<!------------------  sidenav  ------------------------->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div>
        <form method="POST" action="/map">
            <div class="form-group">
                <input type="text" class="form-control" name="city" placeholder="Ciudad" />
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="bath" placeholder="Nº Baños">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="bed" placeholder="Nº Habitaciones">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="price_min" placeholder="Precio minimo">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="price_max" placeholder="Precio maximo">
            </div>
            <div class="form-group">
                <select name="type" class="form-control">
                    <option selected="true" disabled="disabled">Tipo de vivienda</option>
                    <option value="house">Casa</option>
                    <option value="flat">Piso</option>
                    <option value="property">Propiedad</option>
                </select>
            </div>
            <div class="form-group"></div>
                <input type="submit" class="btn btn-info form-control" value="Buscar">
            </div>
        </form>
    </div>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Filtros</span>

<!------------------  map  ------------------------->    
<div id="map"></div>
<script>
    var map;
    function initMap() {
        var places = [];

        <% for(var i=0; i < array.length; i++) {%>
            var latitud = <%= array[i].latitude %>;
            var longitud = <%= array[i].longitude %>;
            var place = {lat: latitud, lng: longitud};
            places.push(place);
        <% } %>
        

        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.6000000, lng: -4.5000000},
            zoom: 8
        });

        for(var j=0; j< places.length; j++){
            var marker = new google.maps.Marker({
                map: map,
                position: places[j],
                title: '250'
            });
        }

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWCBKeYffwpA8RH0d8wUmI9i01Cf0Gr3o&callback=initMap" async defer></script>
    
